# Python files
__pycache__/
*.pyc
*.pyo

# Virtual environment files
venv/
env/
.ccp_simulator_venv/

# IDE files
.vscode/
.pydev/

# Package files
*.egg
*.egg-info/
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Other files
*.iml
*.swp
*.swo